*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  -webkit-tap-highlight-color: transparent;
}

header,
footer {
  flex: 0 0 auto;
}

main {
  z-index: 1;
  flex: 1 0 auto;
}

html {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  box-sizing: border-box;
  font-family: 'Roboto', Helvetica, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothiposition: relative;

  > .app {
    position: relative;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    flex-direction: column;
  }
}

img,
video,
iframe {
  max-width: 100%;
}

a {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

img {
  fill: currentColor;
}
